.categoryname {
  font-size: 20px;
  color: #0089d0;
  grid-template-columns: repeat(3, 1fr);
}
.categorydesc {
  color: gray;
}
.categories {
  display: flex;
  flex-direction: row;
}
button {
  flex: 1;
}
.selected {
  background-color: lightgreen;
}
p {
  text-align: center;
}
