body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
* {
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  background-color: black;
  color: #868d7f;
  padding: 12px;
  padding-left: 50px;
  font-weight: bold;
  width: 100%;
}
h1 {
  font-size: 40px;
  font-weight: normal;
}

section {
  width: 1280px;
  /*background-color: gray;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
form {
  width: 100%;
}
button {
  color: white;
  background-color: #337ab7;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
#newtask {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
  font-size: 15px;
  padding-left: 10px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
li {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  overflow: scroll;
  word-break: break-word;
}
li input[type="checkbox"]{
  margin-right: 50px;
}
img {
  width: 20px;
  margin-left: auto;
}
#adddiv {
  display: flex;
  gap: 30px;
  width: 50%;
  margin-left: 70px;
}
.done {
  text-decoration: line-through;
}